/* background image */

body {
    background-image: url("https://d2jv9003bew7ag.cloudfront.net/uploads/An-example-of-a-semi-regular-tessellation.jpg");
    background-image opacity: 30%;
    background-color: #c27d7d;
    opacity: 100%;
   }

/* hero banner not currently being used */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5dc5db3fec66202db9ef9726/1575257243054-1DLAYCAF5TNA3J7YPS8F/ke17ZwdGBToddI8pDm48kLR2rgEg1jPu1GtjV4K1vZ97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0scl71iiVnMuLeEyTFSXT3qwhEKW1IfUKL5GUNLdDa9MjuPXcXiDenG_NSvE-2lGCg/a019_6963.jpg?format=1500w");
    background-size: cover;
    background-position: center;
    opacity: 30%;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* header styling */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(170, 226, 226);
    color: #ffffff;
    clear: both;
}

.footer h2 {
    font-size: 20px;
}

.capital {
    color: salmon;
}

.header li {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(170, 226, 226);
    color: #ffffff;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    /* float: right; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.navbar {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: pink;
    color: #ffffff;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}


.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* .hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
} */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(170, 226, 226);
}

.footer h2 {
    font-size: 20px;
}

.panel {
    taxtalign: center;
}

/* contact info styling */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .containercontact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .pictures {
      border-width: 10px;
      border-style: solid;
      border-color: cornflowerblue;
      border-radius: 8%;
  }
  /* portfolio page */

  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  /* .row {
    margin: 8px -16px;
  } */
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other
  .column {
    float: left;
    width: 25%;
  } */
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    /* display: table; */
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  } */
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } */